<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'Styles.css' %}">
</head>
<body>
    <center>
        <h1>Edit Product Inventory</h1>
        <hr/>
        <form method="POST" action="/Update/{{Product_Inv.Product_Id}}">
            {% csrf_token %}
        <table border = "1">
            <tr>
                <td>Product Id</td>
                <td><input type="text" name="Product_Id" value="{{Product_Inv.Product_Id}}" readonly></td>
            </tr>
            <tr>
                <td>Product Name</td>
                <td><input type="text" name="Product_Name" value="{{Product_Inv.Product_Name}}"></td>
            </tr>
            <tr>
                <td>Product Description</td>
                <td><input type="text" name="Product_Description" value="{{Product_Inv.Product_Description}}"></td>
            </tr>
            <tr>
                <td>Product Quantity</td>
                <td><input type="number" name="Product_Quantity" value="{{Product_Inv.Product_Quantity}}"></td>
            </tr>
            <tr>
                <td>Product Price</td>
                <td><input type="number" name="Prodcut_Price" value="{{Product_Inv.Prodcut_Price}}"></td>
            </tr>
            <tr>
                <td>Username</td>
                <td><input type="text" name="Username_id" value="{{Product_Inv.Username_id}}"></td>
            </tr>
            <tr>
                <td>User Id</td>
                <td><input type="text" name="User_Id_id" value="{{Product_Inv.User_Id_id}}"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Update Product Information"></td>
                <td>{% if messages %}
                    {% for mess in messages %}
                    <b style="color:green;">{{mess}}</b>
                    {% endfor %}
                    {% endif %}</td>
            </tr>
        </table>
        <a href="{% url '' %}">Go to Home Page</a>
    </form>
    </center>
</body>